<header>
  <nav>
    <img src="/images/logo3.jpg" alt="logo" id="logo" />
    <ul id="navlist">
      <li><a href="/students/shops">Home</a></li>
      <li>About Us</li>
      <li>View more</li>
      <li>Info</li>
      <li>Contact Us</li>
    </ul>
  </nav>
</header>
