<!DOCTYPE html>
<html>
  <head>
    <title>Barber shop</title>
    <link rel="stylesheet" href="/barbershops.css" />
    <link rel="stylesheet" href="/HeaderFootercss/header.css" />
    <link rel="stylesheet" href="/HeaderFootercss/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <main>
      <h1>Shorter Wait, Fresher Look</h1>
      <h1>Find Your Shop!</h1>
      <div id="shoplist">
        <div class="shop">
          <div class="image">
            <img src="./images/img1a.jpg" alt="shop1" />
          </div>
          <h3>Shop Name</h3>
          <div class="shop_info">
            <p><i class="fa-solid fa-location-dot"></i>&nbsp;Address</p>
            <p><i class="fa-solid fa-star"></i>&nbsp;Rating</p>
            <p><i class="fa-solid fa-hourglass-half"></i>&nbsp;Queue</p>
          </div>
          <button
            onclick="window.location.href='/students/shops/barbershops/iitdhbarber';"
          >
            View more
          </button>
        </div>
        <div class="shop">
          <div class="image">
            <img src="./images/img2.jpg" alt="shop1" />
          </div>
          <h3>Shop Name</h3>
          <div class="shop_info">
            <p><i class="fa-solid fa-location-dot"></i>&nbsp;Address</p>
            <p><i class="fa-solid fa-star"></i>&nbsp;Rating</p>
            <p><i class="fa-solid fa-hourglass-half"></i>&nbsp;Queue</p>
          </div>
          <button
            onclick="window.location.href='/students/shops/barbershops/iitdhbarber';"
          >
            View more
          </button>
        </div>
        <div class="shop">
          <div class="image">
            <img src="./images/img3.jpg" alt="shop3" />
          </div>
          <h3>Shop Name</h3>
          <div class="shop_info">
            <p><i class="fa-solid fa-location-dot"></i>&nbsp;Address</p>
            <p><i class="fa-solid fa-star"></i>&nbsp;Rating</p>
            <p><i class="fa-solid fa-hourglass-half"></i>&nbsp;Queue</p>
          </div>
          <button
            onclick="window.location.href='/students/shops/barbershops/iitdhbarber';"
          >
            View more
          </button>
        </div>
        <div class="shop">
          <div class="image">
            <img src="./images/img4.jpg" alt="shop4" />
          </div>
          <h3>Shop Name</h3>
          <div class="shop_info">
            <p><i class="fa-solid fa-location-dot"></i>&nbsp;Address</p>
            <p><i class="fa-solid fa-star"></i>&nbsp;Rating</p>
            <p><i class="fa-solid fa-hourglass-half"></i>&nbsp;Queue</p>
          </div>
          <button
            onclick="window.location.href='/students/shops/barbershops/iitdhbarber';"
          >
            View more
          </button>
        </div>
      </div>
    </main>
    <footer>&copy Barber Shop. All Rights Reserverd.</footer>
  </body>
</html>
