<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barber Shop Details</title>
    <link rel="stylesheet" href="/style4.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <main>
      <div id="heading">
        <div id="image">
          <img src="/images/img2.jpg" alt="image" />
        </div>
        <div id="name">
          <h1>Shop Name</h1>
          <p><i class="fa-solid fa-location-dot"></i>&nbsp;Address</p>
          <p><i class="fa-solid fa-star"></i>&nbsp;Rating</p>
        </div>
      </div>
      <div id="info">
        <div id="services">
          <h2>Our Services</h2>
          <ul>
            <li>
              <div class="haircut">Classic Haircut:</div>
              <div class="price">Rs.100</div>
            </li>
            <hr />
            <li>
              <div class="haircut">Beard Trim:</div>
              <div class="price">Rs.80</div>
            </li>
            <hr />
            <li>
              <div class="haircut">Fade & Style:</div>
              <div class="price">Rs.150</div>
            </li>
            <hr />
            <li>
              <div class="haircut">Hair Colouring:</div>
              <div class="price">Rs.200</div>
            </li>
          </ul>
        </div>
        <div id="details">
          <div id="timing">
            <h3><i class="fa-regular fa-clock"></i>&nbsp;Open At</h3>
            <p>Monday-Friday: 10am to 7pm</p>
            <p>Saturday-Sunday: 11am to 4pm</p>
          </div>
          <div id="queue">
            <h4><i class="fa-solid fa-hourglass-half"></i>&nbsp;In Queue:</h4>
            <p>3 people ahead</p>
          </div>
          <div id="btns">
            <button
              onclick="window.location.href='/students/shops/barbershops/iitdhbarber/appointmentform';"
            >
              Book Appointment
            </button>
            <button
              onclick="window.location.href='/students/shops/barbershops/iitdhbarber/appointmentform';"
            >
              Check Status
            </button>
          </div>
        </div>
      </div>
    </main>
    <footer>&copy Barber Shop. All Rights Reserverd.</footer>
  </body>
</html>
