<!DOCTYPE html>
<html>
  <head>
    <title>Shops</title>
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/HeaderFootercss/header.css" />
    <link rel="stylesheet" href="/HeaderFootercss/footer.css" />
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <main>
      <h1>Welcome to our Website!</h1>
      <ul id="shoplist">
        <% Shops.forEach(shop => { %>

        <li>
          <button
            onclick="window.location.href='<%= shop.name.toLowerCase().replace(` `,``) %>';"
          >
            <%= shop.name %>
          </button>
        </li>

        <% }) %>
      </ul>
    </main>
    <footer>&copy Barber Shop. All Rights Reserverd.</footer>
  </body>
</html>
