* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana;
  color: antiquewhite;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(/images/bimg1.jpg);
  background-repeat: repeat-y;
  background-size: 100vw;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: 35vh;
  padding-left: 30px;
  padding-right: 30px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px 2px black;
  border: none;
  border-radius: 20px;
  p {
    font-size: large;
    text-align: center;
  }
  h1 {
    color: rgb(226, 184, 46);
    /* color: rgb(188, 0, 0); */
  }
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 0 5px black;
    transition: 0.5s;
  }
  a:hover {
    box-shadow: 0 0 10px black;
  }
}
