* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana;
  color: antiquewhite;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(./images/bimg1.jpg);
  background-repeat: repeat-y;
  background-size: 100vw;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 40px 5px black;
  border: none;
  border-radius: 20px;
  width: 60%;
  height: 70vh;
}
#heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  img {
    /* width: 200px; */
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 150px;
  }
  h1 {
    font-family: Georgia;
    font-size: 50px;
  }
}
#image {
  width: 30%;
}
#name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-left: 20px;
  width: 50%;
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-top: 10px;
  }
}
#info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}
#services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: 30%;
  h2 {
    margin-bottom: 10px;
  }
  ul {
    width: 100%;
    list-style: none;
    li {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    hr {
      width: 100%;
    }
  }
}
.haircut {
  width: 50%;
}
.price {
  width: 20%;
}
#details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-left: 20px;
  width: 50%;
}
#timing {
  h3 {
    margin-bottom: 10px;
  }
}
#queue {
  width: auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border: none;
  border-radius: 10px;
  background-color: rgb(210, 187, 83);
  p,
  h4 {
    padding: 5px;
  }
  p,
  h4,
  i {
    color: rgba(131, 0, 0, 0.685);
  }
}
#btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  button {
    font-size: large;
    width: 48%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 0 5px black;
    transition: 0.5s;
  }
  button:hover {
    box-shadow: 0 0 10px black;
  }
}
