* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(3px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

nav img {
  height: 50px;
  width: 50px;
}
.logo {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 100px;
}
.navlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  border: solid;
  border-color: black;
  border-radius: 15px;
  margin: 10px;
  width: 800px;
  height: 70px;
  box-shadow: 0px 0px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: aqua; */
  width: 900px;
  height: 600px;
  padding: 50px;
}
.container h1 {
  margin: 30px;
}
